.dicom-main-layout {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.dicom-main-header {
    background: #fff;
    font-size: 16px;
    font-weight: bold;
}

.dicom-main-content {
    padding-bottom: 100px;
}

.dicom-main-sider {
    padding: 20px 0;
}

.dicom-viewport-wrapper {
    width: 80%;
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #ccc;
    font-size: 12px;
}

.dicom-viewport-slider {
    width: 70%;
    margin: 20px auto 0 auto;
    background: #cccccc;
}

.dicom-viewport {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.dicom-viewport .cornerstone-canvas, .dicom-viewport .svg-layer {
    left: 0;
    top: 0;
}

.dicom-viewport-overlay-left-top {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
}

.dicom-viewport-overlay-left-top p {
    padding: 0;
    margin: 0;
    text-align: left;
}

.dicom-viewport-overlay-right-bottom {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 2;
}
